body {
    font-family: Arial, sans-serif;
    background-image: url('img/img1.jpg');
    background-size: cover;
}

h1 {
    color: #6e6f71;
}

.delete-icon {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;         
    flex-direction: column;
    margin-top: -50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border-right: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 7px 7px 0;
    background-color: #ff8fab;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #6e6f71 ;
}

h2 {
    font-size: 20px;
    color: #6a6a6b;
    margin-top: 50px;
    margin-bottom: -15px;
}

ul {
    list-style-type: none; 
    padding-left: 0; 
}

li {
    margin: 10px;
    font-size: 14px;
}

.delete-btn {
    margin-left: 15px;
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
}